
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div id="chartDiv" style="width:100%; height:600px">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['CoreChart'] });
    google.charts.setOnLoadCallback(DrawonLoad);
    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Chart/CategoryChart/',
                success: function (chartsdata) {
                    var Data = chartsdata.jsonlist;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'categoryName');
                    data.addColumn('number', 'categoryCount');
                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].categoryName, Data[i].categoryCount]);
                    }
                    var chart = new google.visualization.PieChart(document.getElementById('chartDiv'));
                    chart.draw(data,
                        {
                            title: "Asp.Net Core 5.0 Google Chart Projesi",
                            position: "top",
                            fontsize: "20px",
                            is3D: true
                        });
                }
            });
        });
    }
</script>