<div class="tech-btm">
    <h4>E-Posta Bültenine Abone Olun</h4>
    <p>Blog yazılarımızından ilk önce siz haberdar olun... </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" name="Mail" placeholder="Email" required="">
        <input type="submit" value="Abone Ol">
    </form>

</div>