
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <link href="~/css/403.css" rel="stylesheet" />
    
</head>
<body>
    <h1>403</h1>
    <div>
        <p>> <span>Sayfa Hata Kodu</span>: "<i>HTTP 403 Erişim Hatası</i>"</p>
        <p>> <span>Sayfa Hatası Açıklaması</span>: "<i>Siteye Erişim Reddedildi. Web sayfasına erişim yetkiniz bulunmamaktadır...</i>"</p>
        <p>> <span>Sayfa Hatası Olmasının Sebepleri</span>: [<b>görüntüleme yetki hatası, okuma yetki hatası, yazma yetki hatası, ssl sertifika hatası, ssl 128 bit sertifika hatası, ip adres yetki hatası, istemci sertifika hatası, siteye erişim hatası, site yapılandırma hatası, şifre hatası, dizin listeleme hatası, istemci erişim lisansı hatası, istemci sertifikası güvenilmez veya geçersiz, istemci sertifika süresi hatası, oturum açma başarısız, kaynak erişim hatası, istemci ip çok fazla istek hatası</b>...]</p>
        <p>> <span>ERİŞİM İZNİ OLAN SAYFA</span>: [<a href="/Blog/Index">ANA SAYFA</a>]</p><p>> <span>Web Sitemizi Ziyaret Ettiğiniz İçin TEŞEKKÜRLER :-)</span></p>
    </div>
    <script src="~/js/403.js"></script>
</body>
</html>
