@using EntityLayer.Concrete
@model List<NewMessage>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Giden Mesajlar</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Alıcı</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Mesajı Görüntüle</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.MessageId</th>
                <td>@item.ReceiverUser.WriterName</td>
                <td>@item.MessageSubject</td>
                <td>@(((DateTime)item.MessageDate).ToString("dd MMMM yyyy"))</td>
                <td><a href="/Message/MessageDetails/@item.MessageId" class="btn btn-success">Görüntüle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Message/SendMessage" class="btn btn-primary">Yeni Mesaj Gönder</a>